{% extends 'base.html' %}

{% block main %}

<h1>Add User</h1>
<form method="POST">
<p>First name:<br> 
    <input name="first_name" placeholder="Enter first name" style="width: 300px;" required>
</p>
<p>Last name:<br>
    <input name="last_name" placeholder="Enter last name" style="width: 300px;">
</p>
<p>Image URL:<br>
    <input name="image_url" placeholder="Provide image of this user" style="width: 300px;">
</p>
<button>Add</button>
</form>

<p><a href="/users">Go back</a></p>

{% endblock %}